*.z64
ESRGAN/**
__pycache__/**
assets/**
castle_grounds/**
ccm/**
bbh/**
bits/**
castle_inside/**
hmc/**
ssl/**
bob/**
sl/**
wdw/**
jrb/**
thi/**
ttc/**
rr/**
bitdw/**
vcutm/**
bitfs/**
sa/**
bits/**
lll/**
ddd/**
wf/**
ending/**
castle_courtyard/**
pss/**
cotmc/**
totwc/**
bowser_1/**
wmotr/**
bowser_2/**
bowser_3/**
ttm/**
m64/**
misc/**
custom_level_defines.h