{
  "$id": "1",
  "LevelConfigs": {
    "9": {
      "$id": "2",
      "LevelName": null,
      "EnableLocalObjectBank": false,
      "LocalObjectBank": {
        "$id": "3",
        "CustomObjectConfigs": {}
      },
      "AreaConfigs": {}
    },
    "24": {
      "$id": "4",
      "LevelName": null,
      "EnableLocalObjectBank": false,
      "LocalObjectBank": {
        "$id": "5",
        "CustomObjectConfigs": {}
      },
      "AreaConfigs": {}
    },
    "12": {
      "$id": "6",
      "LevelName": null,
      "EnableLocalObjectBank": false,
      "LocalObjectBank": {
        "$id": "7",
        "CustomObjectConfigs": {}
      },
      "AreaConfigs": {}
    },
    "5": {
      "$id": "8",
      "LevelName": null,
      "EnableLocalObjectBank": false,
      "LocalObjectBank": {
        "$id": "9",
        "CustomObjectConfigs": {}
      },
      "AreaConfigs": {}
    },
    "4": {
      "$id": "10",
      "LevelName": null,
      "EnableLocalObjectBank": false,
      "LocalObjectBank": {
        "$id": "11",
        "CustomObjectConfigs": {}
      },
      "AreaConfigs": {}
    },
    "7": {
      "$id": "12",
      "LevelName": null,
      "EnableLocalObjectBank": false,
      "LocalObjectBank": {
        "$id": "13",
        "CustomObjectConfigs": {}
      },
      "AreaConfigs": {}
    },
    "22": {
      "$id": "14",
      "LevelName": null,
      "EnableLocalObjectBank": false,
      "LocalObjectBank": {
        "$id": "15",
        "CustomObjectConfigs": {}
      },
      "AreaConfigs": {}
    },
    "8": {
      "$id": "16",
      "LevelName": null,
      "EnableLocalObjectBank": false,
      "LocalObjectBank": {
        "$id": "17",
        "CustomObjectConfigs": {}
      },
      "AreaConfigs": {}
    },
    "23": {
      "$id": "18",
      "LevelName": null,
      "EnableLocalObjectBank": false,
      "LocalObjectBank": {
        "$id": "19",
        "CustomObjectConfigs": {}
      },
      "AreaConfigs": {}
    },
    "10": {
      "$id": "20",
      "LevelName": null,
      "EnableLocalObjectBank": false,
      "LocalObjectBank": {
        "$id": "21",
        "CustomObjectConfigs": {}
      },
      "AreaConfigs": {}
    },
    "11": {
      "$id": "22",
      "LevelName": null,
      "EnableLocalObjectBank": false,
      "LocalObjectBank": {
        "$id": "23",
        "CustomObjectConfigs": {}
      },
      "AreaConfigs": {}
    },
    "36": {
      "$id": "24",
      "LevelName": null,
      "EnableLocalObjectBank": false,
      "LocalObjectBank": {
        "$id": "25",
        "CustomObjectConfigs": {}
      },
      "AreaConfigs": {}
    },
    "13": {
      "$id": "26",
      "LevelName": null,
      "EnableLocalObjectBank": false,
      "LocalObjectBank": {
        "$id": "27",
        "CustomObjectConfigs": {}
      },
      "AreaConfigs": {}
    },
    "14": {
      "$id": "28",
      "LevelName": null,
      "EnableLocalObjectBank": false,
      "LocalObjectBank": {
        "$id": "29",
        "CustomObjectConfigs": {}
      },
      "AreaConfigs": {}
    },
    "15": {
      "$id": "30",
      "LevelName": null,
      "EnableLocalObjectBank": false,
      "LocalObjectBank": {
        "$id": "31",
        "CustomObjectConfigs": {}
      },
      "AreaConfigs": {}
    },
    "20": {
      "$id": "32",
      "LevelName": null,
      "EnableLocalObjectBank": false,
      "LocalObjectBank": {
        "$id": "33",
        "CustomObjectConfigs": {}
      },
      "AreaConfigs": {}
    },
    "16": {
      "$id": "34",
      "LevelName": null,
      "EnableLocalObjectBank": false,
      "LocalObjectBank": {
        "$id": "35",
        "CustomObjectConfigs": {}
      },
      "AreaConfigs": {}
    },
    "34": {
      "$id": "36",
      "LevelName": null,
      "EnableLocalObjectBank": false,
      "LocalObjectBank": {
        "$id": "37",
        "CustomObjectConfigs": {}
      },
      "AreaConfigs": {}
    }
  },
  "GlobalObjectBankConfig": {
    "CustomObjectConfigs": {}
  },
  "GlobalBehaviorBank": {
    "Enabled": false,
    "IsVanilla": true,
    "BehaviorConfigs": []
  },
  "GlobalObjectBank": {
    "CustomObjects": []
  },
  "GlobalCustomAsmBank": {
    "Areas": [],
    "MaxLength": -1,
    "Length": 0,
    "RomStartAddress": -1,
    "RamStartAddress": -1
  },
  "MusicConfig": {
    "SqeuenceNames": [
      "No Music",
      "High Score",
      "crocodile cacophony",
      "house of sacred remains",
      "title screen rune factory",
      "ice palace secret of mana",
      "goodnight",
      "the spirit engine",
      "Snow",
      "esper battle ff12",
      "solitude nothin in return",
      "boss battle ratchet and clank 2",
      "mmzx area I",
      "save etrian odyssey",
      "area x mmzx",
      "absolute freedom romancing saga",
      "Bowser Message",
      "kar skysand",
      "Star Catch",
      "Ghost Merry-Go-Round",
      "Start and End Race with Koopa the Quick",
      "Star Appears",
      "road taken - fire emblem fates",
      "Take a Key",
      "thwomp ruins mario kart 8",
      "MML a place nobody knows",
      "jaws of a scortched earth",
      "Puzzle Solved",
      "Toad Message",
      "Peach Message",
      "snowpeak temple zeldaTP",
      "Last Star Fanfare",
      "Scootin' Through the Clocktowers Beneath the Sea - A Hat in Time (Extended Instruments)",
      "trance logic apollo justice",
      "calm final fantasy X",
      "cascade capers waterfall",
      "mines of narshe ff3",
      "black omen chrono trigger",
      "corridors of time chrono trigger",
      "summer earthbound",
      "end of time chrono trigger",
      "main gate megaman legends",
      "mgs cavern",
      "ocean palace chrono trigger",
      "options diddy kong racing",
      "schala's theme chrono trigger",
      "secret of the forest chrono trigger",
      "under the progress parasite eve",
      "besaid island",
      "luca final fantasy x",
      "foggy forest",
      "sacred moon - kingdom hearts 358_2",
      "thundering plains",
      "tallon overworld 2 metroid prime"
    ]
  },
  "SelectedTextProfileInfo": "",
  "ScrollTexConfig": {
    "$id": "38",
    "UseCustomBehavior": false,
    "CustomBehaviorAddress": -1
  },
  "NPCConfig": {
    "Enabled3DCoins": false
  }
}